.container {
  display: flex;
  height: 94vh;
  font-family: Arial, sans-serif;
}

.imageContainer {
  flex: 1;
  background-image: url('../../assets/seminar1.jpeg');
  background-size: cover;
  background-position: center;
  position: relative;
  width: 58%;
  margin-right: -180px;
  clip-path: polygon(0px 0px, 100% 0px, 80% 100%, 0% 100%);
}

.formContainer {
  flex: 1;
  background-color: #f8f8f8;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.title {
  font-size: 32px;
  margin-bottom: 10px;
  color: #333;
}

.form {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form label {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 14px;
  color: #555;
  width: 500px;
}

.form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.form input:focus {
  border-color: #a1263d;
}

.formFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.rememberMe {
  display: flex;
}

.forgotPassword {
  color:  #550000;
  text-decoration: none;
}

.forgotPassword:hover {
  text-decoration: underline;
}

.submitButton {
  background-color:  #550000;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background-color: #880f2e;
}

.signUp {
  margin-top: 20px;
}

.signUp a {
  color:  #550000;
  text-decoration: none;
  font-weight: bold;
}

.signUp a:hover {
  text-decoration: underline;
}

.footerLinks {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.footerLinks a {
  color: #333;
  text-decoration: none;
}

.footerLinks a:hover {
  text-decoration: underline;
}


.passwordLabel {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 14px;
  color: #555;
  width: 100%;
  margin-top: 20px;
  position: relative;
}

.passwordInputContainer {
  display: flex;
  align-items: center;
  position: relative;
}

.passwordInputContainer input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}


.passwordInputContainer input:focus {
  border-color: #a1263d;
}

.passwordIcon {
  position: absolute;
  right: 10px;
  cursor: pointer;
  color: #888;
  transition: color 0.3s ease;
}

.passwordIcon:hover {
color: #555;
}

/* Media Queries */

@media (max-width: 1200px) {
  .container{
    height: auto;
  }
  .imageContainer {
    width: 50%;
   
    margin-right: -100px;
  }
  .formContainer{
    margin-bottom: auto;
    
  }


  .form label {
    width: 100%;
  }
}

@media (max-width: 920px) {
  .imageContainer {
    display: none;
  }


  .formContainer {
    width: 97%;
    padding: 20px;
    box-shadow: none;
    border-radius: 0;
    margin-bottom: auto;
  }
  .form{
    margin-top: 30px;
  }
}

@media (max-width: 600px) {
  .formContainer {
    padding: 10px;
  }

  .title {
    font-size: 28px;
  }

  .form {
    max-width: 300px;
  }

  .form label {
    font-size: 12px;
  }

  .submitButton {
    padding: 8px;
    font-size: 14px;
  }
}

@media (max-width: 400px) {
  .formContainer {
    padding: 5px;
  }

  .title {
    font-size: 24px;
  }

  .form {
    max-width: 280px;
  }

  .form label {
    font-size: 10px;
  }

  .submitButton {
    padding: 6px;
    font-size: 12px;
  }
}
