.container {
    width: 900px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .section {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    position: relative;
  }
  
  .section h2 {
    margin: 0;
    font-size: 1.5em;
    display: inline-block;
  }
  
  .editButton {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
  }
  
  .editButton:hover {
    background-color: #0056b3;
  }
  
  .settingItem {
    margin-top: 20px;
  }
  
  .settingItem strong {
    display: block;
    margin-bottom: 5px;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #007bff;
  }
  
  input:checked + .slider:before {
    transform: translateX(14px);
  }
  
  .settingItem a {
    color: #007bff;
    text-decoration: none;
  }
  
  .settingItem a:hover {
    text-decoration: underline;
  }
  