/* NewBookings.module.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    height: 590px;

  }
  
  .header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-top: -40px;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 70px;
  }
  
  .table th, .table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .table th {
    background-color: black;
  }
  
  .actionButtons {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
  }
  
  .actionButtons button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  .actionButtons .cancel {
    background-color: #f44336;
  }
  
  .searchBar {
    margin-top: -250px;
    width:300px;
    
  }
  
  .searchBar input {
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
  }
  