.container {
    background-color: #fff;
    box-sizing: border-box;
    padding: 60px 40px;
    margin-top:80px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 35%;
    margin-left: 500px;
}

h4 {
    color: #550000;
    margin-bottom: 80px;
    text-align: left;
}

.formGroup {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 10px;
}

input::placeholder {
    color: #ccc;
    

}

.btn {
    width: 40%;
    padding: 10px;
    background-color: #550000;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;

}

.btn:hover {
    background-color: #550000;
}

.goback {
    display: block;
    margin-top: 40px;
    color: #550000;
    text-decoration: none;
    text-align: left;
}

.goback:hover {
    text-decoration: underline;
}